{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
  {% if category %} {{ category.name }}
    {% else %}
      Products
  {% endif %}
{% endblock title %}

{% block content %}
  <div class="list-wrapper">
    <div id="main" class="product-list">
      <h1>
        {% if category %}{{ category.name }}{% else %}All Products
        {% endif %}
      </h1>
    </div>

    <div class="items-wrapper">
      {% for product in products %}
        <div class="item-div">
          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}
            {% else %}
              {% static "img/no_image.png" %}{% endif %}" width="180">
          </a>
          ${{ product.price }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content%}