:root {
    --primary:#8c38ff;
    --light: #EEEEEE;
    --dark: #212121;
    --success: #04aa6d;
    --error: #FF5252;
    --btn: #3a9ef5;
    --bootstrap-primary: #1266F1;
    font-size: calc(1em + 0.4vw);
    box-sizing: border-box;
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    
    color: #04aa6d;
}

.base-wrapper {
    margin-top: 2.7em;
}


/*LINK MENU MOBILE/GENERAL*/
header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* background: rgb(2,0,36); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(188, 75, 205) 100%);
    border-bottom: 0.187em solid yellow;
    height: fit-content;
    overflow-x: hidden;
}

h1.brand {
    font-size: 2rem;
    margin-left: 10px;
    letter-spacing: 0.2em;
}

.burger-button {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    width: fit-content;

    flex-flow: column wrap;
    margin-left: auto;
    justify-content: center;
    user-select: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    
}

.burger-button span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;

    transform-origin: 0 0;
    transition: 0.4s;
}

.burger-button:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--bootstrap-primary);
}

.burger-button.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px);
}

.burger-button.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.burger-button.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.burger-button.is-active span {
    background-color: var(--bootstrap-primary);
}

.link-wrapper a.is-active,  .link-wrapper a:hover {
    background-color: var(--bootstrap-primary);
}

.link-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-color: var(--dark);
    position: absolute;
    top: 2.24em;
    width: 50%;
    height: calc(100vh - 2.20em);
    opacity: 0.95;
    transform: translate(-100%);
    transition: 0.5s ease-in;
    
}
.link-menu a {
    color: var(--success);
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 1;
}

.link-menu a i {
    margin-right: 8px;
    background-color: initial;
    color: var(--success);
}

.cart-div {
    display: flex;
    flex-flow: wrap;
}

.cart-nav {
    color: rgb(226, 148, 148);
}

.drop-in {
    transform: translate(0%);
    transition: 0.5s ease-in;
}
/*LINK MENU MOBILE/GENERAL*/



/*CATEGORIES MENU*/
#main {
    margin-bottom: 1em;
}
.category-wrapper {
    display: block;
    align-self: center;
}
.category-drop-div {
    display: none;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    gap: 0.3125em;
    position: absolute;
    width: 6em;
    margin-top: 0.4em;
    background-color: var(--dark);
    
}
.menu-display {
    display:flex;
}

.selected {
    background-color: #d4e2ee;
    width: 6em;
}
/*END OF CATEGORIES MENU*/




/* @keyframes link-menuFade {
    from 
} */


.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:5px;
}


.padded {
    font-size: 1.3rem;
    padding: 0.5em;
    border: solid 1px var(--btn);
    margin: 5px;
}

.box {
    padding: 0.3em;
    border: solid 1px var(--btn);
    margin: 5px;
    text-align: center;
}

.not-padded {
    padding: 8px;
    border: solid 1px var(--btn);
    margin: 5px;
}

.not-box {
    padding: 8px;
    border: solid 1px var(--btn);
    margin: 5px;
    text-align: center;
}

/*LIST.HTML CSS*/
.list-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.items-wrapper {
    grid-row: 2;
    display: flex;
    flex-flow:column wrap;
}
.item-div {
    display: flex;
    flex-flow:column wrap;
    align-content: center;
    align-items: center;
}
.item-div a {
    text-decoration: none;
}
/*LIST.HTML CSS*/

/*DETAIL.HTML CSS*/
.product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.details-right{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.details-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.details-description {
    grid-column: 1 / span 2
}

.details-form {
    display: flex;
    flex-flow: column wrap;
}
.details-form button {
    width: fit-content;
    background-color: #077ef5;;
    color: whitesmoke;
    padding: 0.425em;
    font-size: 0.9em;
    border-radius: 0.1875em;
    cursor: pointer;
    outline-style:solid;
    outline-color: #d4c6c6;
    align-self: center;
}

.form-wrapper {
    margin: 2.5em 0 0.625em 0em;
}

.product-detail h2 a {
    text-decoration: none;
}
/*DETAIL.HTML CSS END*/

/*PROCESS.HTML START*/
.form-wrapper {
    margin-left: 1em;
}
.form-div-field {
    width: 25%;
    height: 1.5em;
}
.form-div-field iframe {
    background-color: grey;
}
/*PROCESS.HTML END*/


/* Large devices (desktops, 992px and above till next break point) */
@media only screen and (min-width: 992px) {
    /* nav bar */
    .burger-button {
        grid-column: 1;
        grid-row: 2;
        display: none;
    }

    .link-menu {
        grid-column: 2;
        grid-row: 1;
        flex-flow: initial;
        justify-content:space-evenly;
        transform: none;
        top: none;
        width: initial;
        opacity: initial;
        position: initial;
        height: initial;
        background-color: initial;
    }
    .link-menu a {
        align-self: center;
        opacity: 1;
        font-size: 1em;
    }
    /* .category-drop-menu {
    
    } */
    /* nav bar */

    /*CATEGORIES MENU*/
    .category-drop-div {
        margin-left: 0em;
    }
    /*LIST.HTML CSS*/
    .items-wrapper {
        grid-row: 2;
        display: flex;
        flex-flow: wrap;
    }
    .item-div {
        display: flex;
        flex-flow: column wrap;
    }
    /*LIST.HTML CSS*/
}